*.o
*.la
*.lo
.deps
.libs
Makefile
Makefile.in

aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1

cut-n-paste/e-contact-entry/econtactentry-marshal.c
cut-n-paste/e-contact-entry/econtactentry-marshal.h

data/gnome-phone-manager.schemas

libgsm/glibgsmtest
libgsm/phonemgr-marshal.c
libgsm/phonemgr-marshal.h
libgsm/test-sdp-search

po/*.gmo
po/*.mo
po/*.pot
po/Makefile.in.in
po/POTFILES
po/.intltool-merge-cache
po/stamp-it

src/gnome-phone-manager
src/gnome-phone-manager.desktop
src/phone-manager-interface.h
src/test-entry

